# dependencies
/node_modules

/data
client_secret.json #NOTE: this needs to be on heroku!

# misc
.DS_Store
.env

/frontend/react_app.js  #NOTE: this is a copy of the js file on jsfiddle
/frontend/style.css     #NOTE: this is a copy of the css file on jsfiddle
